.iconsMobile {
    display: none;
}

.icons a {
    text-decoration: none;
    color: black;
}

.icons a:hover {
    text-decoration: none;
    color: #f049da;
}

.sidebar {
    display: flex;
    background: white;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.linkicon {
    margin-top: 25px;
}

.linkicon h3 {
    color: #f049da;
}

.iconpair:hover {
    color: #f049da;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        /* max-height: 10vh; */
        /* justify-content: space-evenly; */
        min-height: 12vh;
        align-items: center;
    }

    .icons {
        display: none;
    }

    .linkicon {
        margin-top: 8px;
    }

    .iconsMobile {
        display: flex;
        width: 100%;
        min-height: 100%;
        justify-content: space-evenly;
        /* align-items: center; */
    }

    .iconsMobile a {
        text-decoration: none;
        color: black;
    }
    
    .iconsMobile a:hover {
        text-decoration: none;
        color: #f049da;
    }

    .iconpair h3 {
        font-size: 18px;
    }
}