.main {
    background: #3b3d39;
    flex: 5;
}

.projectsTitle {
    font-size: 34pt;
    color: white;
    margin: 4% auto; 
    width: 80%;
}

.projectdiv {
    height: 100vh;
    overflow: scroll;
}

.project {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 350px; */
    background: black;
    margin: 4% auto;
    color: white;
    padding: 2%;
    font-size: 28pt;
    align-items: center;
}

.thisProjectTitle {
    width: 100%;
}

.linkClass {
    font-size: 18pt;
    text-decoration: none;
}

.linkClass:hover {
    text-decoration: none;
}

.linkClass p .blue:hover,
.linkClass p .green:hover {
    color: #f049da;
}

.projectContent {
    display: flex;
}

.smallContent {
    flex: 1;
    padding: 10px;
}

.smallTitle {
    font-size: 18pt;
}

.about {
    font-size: 14pt;
}

.divider {
    min-height: 35px;
}

@media only screen and (max-width: 600px) {
    .projectsTitle {
        font-size: 30px;
    }

    .project {
        font-size: 16px;
    }

    .projectContent {
        display: block;
    }

    .thisProjectTitle,
    .linkClass {
        font-size: 20px;
    }

    .thisProjectTitle {
        height: 20px;
        width: auto;
    }

    .projectLinks {
        height: 20px;
        width: 100%;
    }

    .smallTitle {
        font-size: 18px;
    }

    .smallContent {
        font-size: 16px;
    }

    .about {
        font-size: 16px;
    }

}
