.App {
    background: #3b3d39;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    font-family: avenir;
}

.blue {
    color: #73e3e4;
}

.green {
    color: #b6e261;
}

.pink {
    color: #f049da;
}

.yellow {
    color: #efc70f;
}

.orange {
    color: #ff8f21;
}

.purple {
    color: #ce80f7;
}

.icons a {
    text-decoration: none;
    color: black;
}

.icons a:hover {
    text-decoration: none;
    color: #f049da;
}

.sidebar {
    background: white;
    flex: 1;
    position: relative;
}

.icons {
    margin: auto;
    width: 100%;
    position: absolute;
    top: 35%;
}

.linkicon h3 {
    color: #f049da;
}

.iconpair {
    margin-top: 10px;
}

.iconpair:hover {
    color: #f049da;
}

.main {
    background: #3b3d39;
    flex: 5;
}

.projectsTitle {
    font-size: 34pt;
    color: white;
    margin: 4% auto; 
    width: 80%;
}

.projectdiv {
    max-height: 100vh;
    overflow: scroll;
}

.project {
    position: relative;
    width: 90%;
    height: 350px;
    background: black;
    margin: 4% auto;
    color: white;
    padding: 3%;
    font-size: 28pt;
}

.projectLinks {
    position: absolute;
    bottom: 0;
    right: 2%;
}

.linkClass {
    font-size: 18pt;
    text-decoration: none;
}

.linkClass:hover {
    text-decoration: none;
}

.linkClass p .blue:hover,
.linkClass p .green:hover {
    color: #f049da;
}

.bio {
    background: #2b2d29;
    flex: 3;
    max-height: 100vh;
    overflow: scroll;
}

.bioFunction {
    width: 70%;
    margin: 5vh auto;
    color: white;
    font-size: 18pt;
}

em {
    font-style: normal;
}

.name {
    font-size: 34pt;
}

.title {
    font-size: 24pt;
}


@media only screen and (max-width: 600px) {
    .App {
        display: flexbox;
    }

    .bio {
        order: 1;
        margin: 10px auto;
    }

    .sidebar {
        order: 2;
        height: 10vh;
    }

    .main {
        order: 3;
    }
}